body {
	background-color:#eee;
	padding: 10px 50px;
}

body > div:first-child {
	text-align:center
}
body > div {
	margin:5px auto;
	border: 2px solid #c00;
	border-radius: 5px;
	background-color: #ddd;
}

table {
	border-collapse: collapse;
	margin: 5px auto;
}

td {
	border: 1px solid #c00;
}

.item_img {
	box-sizing: border-box;     
	width:45px;
	margin: 0;
}

.button {
	background-color: cfcfcf;
	display:inline-block;
	border: 1px solid #c00;
	margin: 5px ;
	font-family: 'Trebuchet MS';
	font-weight: bold;
	cursor:pointer;
	padding: 6px;
}

.button:hover {
	background-color:bbb;
}

.button p {
	width:100%;
	margin: auto;
}

#errorcontainer {
	display:none; /*Overwritten by JS when needed */
}

#datacontainer {
	/*display:none;*/
	transition:width 2s, height 2s
}

.gold_counter {
	min-width: 110px;
	white-space: nowrap;
	text-align: right;
}

.gold_counter p {
	margin: 0px 1px;
	display: inline-block;
	width:17px;
}

.gold_counter img {
	margin: 0px 1px;
}

p {
	color:black;
}
